/* .land{
    background-color: #262551;
}

.land-nav{
    height:10vh;
    background-color: #262551;
    align-items: center;
}
.land-nav a{
    color:white;
    font-size: 2rem;
    font-weight: 800;
}

.hamburger-button{
    display: none;
} */

@media screen and (max-width:780px){
    .land-nav{
        display: none;
    }
    
    nav{
        border-bottom: 1px solid black;
        width: 100%;
    }

    .buttonlogo{
        display: flex;
        justify-content: space-between; 
        align-items: center;
        height: 5vh;
        min-height: 38px;
    }
    .logo{
       width:110px;
       /* height: 43px; */
    
    }
    /* .logo{
        top: 0;
        margin-top: 0;
        float: right;
        /* position: fixed; */
        /* right: 0; */
        /* width: 55px;
        height: 100%;
        display: inline;
    } */ 
    .hamburger-button
    {
        display: block;
        background-color:rgb(255, 255, 255);
        width: 35px;
        height: 35px;
    }
    .land-nav-mobile{
        margin-top: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color:rgba(8, 112, 235, 1);
        width: 100%;
        height: auto;
        text-align: center;
        z-index: 1;
        color: rgb(218, 215, 4);
    }
    .land-nav-mobile a{
        padding:6px;
        border-bottom: 1px solid white;
    }
}